:root {
  --goldenrod: #ffc029;
  --white: #ff722c;
  --black: #121212;
  --orange-red: #ff5c29;
  --goldenrod-2: #ffbf29;
  --snow-pink: #fffaf9;
  --midnight-blue: #0f1f43;
  --white-smoke: #f8f8f8;
  --grey: #888;
  --white-smoke-2: #f8f8f8b3;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  color: #333;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.5;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .75rem;
  font-weight: 600;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
}

a {
  color: #333;
  text-decoration: none;
}

.cta-button {
  background-color: var(--goldenrod);
  background-image: linear-gradient(135deg, var(--goldenrod), var(--white));
  border-radius: 25px;
  padding: 12px 30px;
}

.arrow-wrapper {
  width: 100px;
}

.home-slide-button {
  background-color: #ffffff26;
  background-image: linear-gradient(135deg, var(--goldenrod), var(--white));
  color: var(--black);
  border: 1px solid #0000;
  border-radius: 3vw;
  padding: 1.2vw 2vw 1vw;
  font-size: 2vw;
  font-weight: 600;
}

.footer-social-icon {
  padding: 5px;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.announcement {
  z-index: 1001;
  background-color: #0009;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  inset: 0%;
}

.announcement_content {
  background-color: var(--white);
  background-image: linear-gradient(135deg, var(--white), var(--goldenrod));
  flex-direction: column;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 5% 8%;
  display: flex;
  position: static;
  inset: 10%;
}

.announcement_title {
  font-size: 38px;
  font-weight: 600;
}

.announcement_dismiss {
  text-align: center;
  margin-top: 1rem;
  font-size: 23px;
}

.padding-huge {
  padding: 6rem;
}

.padding-xhuge {
  padding: 8rem;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-vertical.padding-custom1 {
  padding-top: 12rem;
  padding-bottom: 6rem;
}

.padding-vertical.padding-hero {
  padding-top: 14rem;
  padding-bottom: 10rem;
}

.margin-xsmall {
  margin: .5rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-large {
  margin: 3rem;
}

.margin-huge {
  margin: 6rem;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.text-weight-bold {
  font-weight: 700;
}

.button {
  background-image: linear-gradient(135deg, var(--orange-red), var(--goldenrod-2));
  outline-offset: -10px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  outline: 1px solid #fff;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 2rem;
  font-weight: 300;
  transition: all .2s;
}

.button:hover {
  outline-offset: 0px;
  border-radius: 50px;
  outline: 1px solid #fff;
}

.button.is-form-submit {
  background-color: #0000;
  padding: 1.2rem 3rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.page-wrapper {
  overflow: hidden;
}

.text-align-center {
  text-align: center;
}

.show-mobile-landscape {
  display: none;
}

.page-padding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.section-hero {
  position: relative;
}

.navlink {
  padding: 1.5rem 2rem;
  font-size: .875rem;
  font-weight: 300;
  transition: opacity .2s;
  display: inline-block;
}

.navlink:hover {
  opacity: .7;
}

.navlink.w--current {
  color: #333;
}

.navbar {
  z-index: 50;
  background-color: #fff;
  position: fixed;
  inset: 0% 0% auto;
}

.nav_logo, .nav_logo._1 {
  height: 100px;
}

.nav_brand {
  border-radius: 100%;
}

.nav_brand-wrapper {
  z-index: 2;
  background-color: #fff;
  border-radius: 100%;
  flex: 0 auto;
  margin-top: .3rem;
  margin-bottom: -3.5rem;
  padding: .5rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.home-hero-header {
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 0 8px #0f1f43;
  font-size: 10rem;
  line-height: 1;
}

.hero_text {
  padding-left: 4.5rem;
  font-size: 1.5rem;
}

.hero_text.text-color-white {
  color: #fff;
  padding-left: 0;
}

.hero_text-studio {
  text-align: right;
  font-size: 2rem;
}

.hero-heading_2 {
  text-align: right;
  display: block;
}

.hero_component {
  position: relative;
}

.title-header {
  text-align: center;
  text-transform: none;
  font-size: 2.8rem;
}

.gradient-text {
  background-image: linear-gradient(to bottom, #fff3, #fff3), linear-gradient(to right, var(--orange-red), var(--goldenrod-2));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.gallery_component {
  grid-template-rows: auto;
}

.gallery_item {
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.gallery_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.gallery-overlay_bg {
  background-image: linear-gradient(135deg, #ff5c2999, #ffbf2999);
  border-radius: 50%;
  position: absolute;
  inset: 0%;
  transform: translate(-50%, -50%);
}

.gallery-overlay {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.gallery_caption {
  color: #fff;
  text-align: left;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 1.4rem;
  position: absolute;
  inset: auto auto 0% 0%;
}

.gallery-item {
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.amenities_component {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.amenities_item {
  text-align: left;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 30px 20px 30px 25px;
  display: flex;
  position: relative;
}

.amenities_image {
  width: 3.2rem;
  height: 3.2rem;
}

.amenities_text {
  font-size: 1.2rem;
}

.amenities_line {
  background-color: #ff5c29;
  background-image: linear-gradient(135deg, #ff5c29, #ffbf29);
  min-width: 5px;
  position: absolute;
  inset: 0% auto 0% 0%;
}

.section-fee {
  background-image: url('../images/MSCA6940.jpg');
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: -6.25rem;
}

.schedule_text-link {
  background-image: linear-gradient(135deg, var(--orange-red), var(--goldenrod-2));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.25rem;
  transition: opacity .2s;
}

.schedule_text-link:hover {
  opacity: .7;
}

.class-fee_component {
  text-align: center;
  background-color: #ffffffd6;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.fee_price-list {
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  display: grid;
}

.fee_price-block {
  border-bottom: 1px solid #0000001a;
  flex-wrap: wrap;
  place-content: space-around space-between;
  align-items: stretch;
  padding-top: 0;
  padding-bottom: 15px;
  font-size: 16px;
  display: flex;
}

.fee_price-block._1 {
  padding-top: 15px;
}

.fee_price-block.no-bottom-border {
  border-bottom-style: none;
  padding-top: 15px;
}

.fee_price-text {
  text-align: left;
  font-size: 16px;
  font-weight: 300;
}

.fee_heading-wrapper {
  text-align: center;
}

.fee_rental-wrapper {
  z-index: 1;
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative;
}

.fee_rental-list {
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
}

.fee_rental-block {
  border-bottom: 1px solid #0000001a;
  flex-wrap: wrap;
  place-content: space-around space-between;
  align-items: stretch;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  display: flex;
}

.fee_rental-block.no-bottom-border {
  border-bottom-style: none;
  padding-top: 15px;
}

.vision_component {
  grid-template-rows: auto;
}

.conditions {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.contact_component {
  grid-template-rows: auto;
}

.contact_content-block {
  width: 80%;
}

.phone_link {
  transition: all .2s ease-in;
}

.phone_link:hover {
  background-image: linear-gradient(135deg, var(--orange-red), var(--goldenrod-2));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.contact_line-divider {
  background-color: #eee5e3;
  width: 100%;
  height: 2px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.button-wrapper {
  background-image: linear-gradient(135deg, #ff5c29, #ffbf29);
  margin: 40px 10px 0;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.text-field {
  border: 1px #000;
  border-bottom: 1px solid #e7e9ec;
  height: 3rem;
}

.submit_wrapper {
  align-items: center;
  margin-top: 2rem;
  display: flex;
}

.contact_form {
  text-align: left;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 4rem 3rem;
  display: flex;
  box-shadow: 7px 7px 20px #00000008;
}

.form_label {
  color: #0f1f43cc;
  font-weight: 300;
}

.footer_component {
  grid-column-gap: 0px;
  grid-row-gap: .5rem;
  text-align: left;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-content: center space-between;
  align-items: center;
  display: grid;
  position: relative;
}

.copyright_link {
  color: #ff5c29;
  transition: opacity .4s;
}

.copyright_link:hover {
  opacity: .5;
}

.footer_text {
  text-align: right;
  font-weight: 300;
}

.logo-wrapper {
  background-color: #fff;
  border-radius: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 9px;
  padding-left: 9px;
  padding-right: 9px;
  display: block;
  position: absolute;
  top: 0;
}

.logo-wrapper._2 {
  background-color: #fff;
  margin-top: -48px;
  margin-left: 0;
  padding: 7px;
  position: static;
}

.footer {
  background-color: #fff;
}

.hero_image-wrapper {
  z-index: -1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.hero_image {
  z-index: -1;
  position: relative;
}

.hero_image-main {
  z-index: -1;
  height: 600px;
  display: block;
}

.hero_image-line {
  z-index: -2;
  margin-top: 1.5rem;
  position: absolute;
  inset: 0%;
}

.hero_circle {
  z-index: -9999;
  background-image: linear-gradient(135deg, #ff5c29, #ffbf29);
  border-radius: 100%;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 40%;
}

.nav_menu {
  align-items: center;
  width: 100%;
  display: flex;
}

.vision_image {
  z-index: 2;
  height: 500px;
  position: relative;
}

.change-schedule-here {
  z-index: 999;
  justify-content: center;
  align-items: center;
  display: none;
}

.class_circle-image {
  object-fit: cover;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.hero_loading {
  background-color: var(--snow-pink);
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  inset: 0%;
}

.hero_loading-logo {
  width: 400px;
}

.hero_bg {
  z-index: -2;
  background-image: linear-gradient(135deg, var(--orange-red), var(--goldenrod));
  position: absolute;
  inset: 0%;
}

.body {
  background-color: var(--snow-pink);
}

.hero-heading_1 {
  text-shadow: 0 8px 0 var(--midnight-blue);
  display: block;
}

.section-team {
  color: var(--white-smoke);
  background-image: url('../images/blur-image.jpg');
  background-position: 0 0;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.team_text {
  max-width: 450px;
  font-size: 1.3rem;
}

.orange {
  color: #ff5c29;
  text-transform: uppercase;
  font-weight: 700;
}

.team_heading {
  text-transform: uppercase;
  text-shadow: 0 6px 0 var(--midnight-blue);
  font-size: 8rem;
}

.team_heading-2 {
  z-index: 2;
  text-align: right;
  text-transform: uppercase;
  text-shadow: 0 6px 0 var(--midnight-blue);
  font-size: 8rem;
  position: relative;
}

.position-relative {
  position: relative;
}

.team_image-wrapper {
  align-items: flex-end;
  display: flex;
  position: absolute;
  inset: 8rem 0% 0%;
}

.team_image-wrapper.show-mobile-landscape {
  display: none;
}

.team_reflection {
  background-color: #3e499b1a;
  height: 34rem;
  margin-bottom: -20rem;
  position: absolute;
  inset: auto 0% 0%;
}

.team_image {
  margin-bottom: 20px;
  margin-left: 400px;
  margin-right: -100px;
  position: relative;
}

.team_image-main {
  width: 100%;
  position: relative;
}

.team_image-other {
  width: 100%;
  position: absolute;
}

.fee_terms-text-link {
  color: var(--grey);
  font-size: 1.25rem;
  transition: opacity .2s;
}

.fee_terms-text-link:hover {
  opacity: .7;
}

.contact_schedule-text {
  margin-left: 2rem;
}

.section-classes {
  color: var(--white-smoke);
  background-image: url('../images/bfit-dance-studio-hong-kong-section-bg-blur.jpg');
  background-position: 0 0;
  background-size: cover;
}

.classes_spacer {
  max-width: 450px;
  font-size: 1.3rem;
}

.classes_image {
  z-index: 1;
  object-fit: contain;
  height: 100%;
}

.styles {
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.filp-front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.filp-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  position: absolute;
  inset: 0%;
  transform: rotateX(0)rotateY(180deg)rotateZ(0);
}

.flip-text_overlay {
  z-index: 2;
  background-image: linear-gradient(to bottom, var(--orange-red), var(--goldenrod-2));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0%;
}

.classes_circle-image-wrapper {
  position: absolute;
  inset: 0% 0% auto auto;
}

.classes_circle-image-wrapper.pink {
  inset: auto auto 0% 0%;
}

.classes_circle-text {
  color: var(--white-smoke);
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
}

.class_text-overlay {
  z-index: 2;
  background-color: #839ac6;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0%;
}

.class_text-overlay._2 {
  background-color: #f4a0a3;
}

.classes_heading-2 {
  z-index: 2;
  text-align: right;
  text-transform: uppercase;
  text-shadow: 0 6px 0 var(--midnight-blue);
  font-size: 8rem;
  position: relative;
}

.nav-spacer {
  flex: 1;
  height: 0;
}

.navlink-mobile-cta {
  padding: 1.5rem 2rem;
  font-size: .875rem;
  font-weight: 300;
  transition: opacity .2s;
  display: none;
}

.navlink-mobile-cta:hover {
  opacity: .7;
}

.navlink-mobile-cta.w--current {
  color: #333;
}

.classes_heading {
  text-transform: uppercase;
  text-shadow: 0 6px 0 var(--midnight-blue);
  font-size: 8rem;
}

.classes_circle-small-text {
  opacity: .5;
}

.contact_social-media-wrapper {
  border: 1px #000;
  border-radius: 0;
  position: static;
  inset: 0% 0% 0% auto;
}

.contact_social-media-image {
  background-color: #fffaf9;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  padding: .5rem;
}

.contact_social-media-link {
  color: #5d6c8b;
  background-color: #0000;
  background-image: linear-gradient(135deg, #ff5c29, #ffbf29);
  border: 1px #000;
  border-radius: 100px;
  margin-left: .25rem;
  margin-right: .25rem;
  padding: 2px;
  transition: transform .2s;
}

.contact_social-media-link:hover {
  transform: scale(1.1);
}

.contact_social-media-link.first {
  margin-left: 0;
}

.classes_image-wrapper {
  justify-content: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.footer_copyright {
  text-transform: uppercase;
  font-weight: 300;
}

.contact_success {
  background-color: #0000;
  font-weight: 500;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.home-contact_from-wrapper {
  flex-direction: column;
  display: flex;
}

.form-checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form-checkbox-icon {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form-checkbox-icon.w--redirected-checked {
  background-size: 90%;
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form-checkbox-icon.w--redirected-focus {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.icon-large {
  height: 4rem;
}

.show-tablet {
  display: none;
}

.overflow-auto {
  overflow: auto;
}

.show {
  display: block;
}

.fs-styleguide_row {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: start;
  display: grid;
}

.fs-styleguide_row.is-for-social-icons {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
}

.heading-medium {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

.global-styles {
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.fs-styleguide_version-details {
  z-index: 5;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.heading-small {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.z-2 {
  z-index: 2;
  position: relative;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.button-secondary {
  color: #333;
  text-align: center;
  background-color: #0000;
  border: .125rem solid #333;
  justify-content: center;
  align-items: center;
  padding: .75rem 1.25rem;
  transition: color .2s, background-color .2s;
  display: inline-block;
}

.button-secondary:hover {
  color: #fff;
  background-color: #333;
}

.fs-styleguide_3-col {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.background-color-black {
  color: #f5f5f5;
  background-color: #000;
}

.text-color-black {
  color: #000;
}

.text-color-grey {
  color: gray;
}

.form-message-success {
  padding: 1.25rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.padding-small {
  padding: 1rem;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.text-weight-normal {
  font-weight: 400;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-style-italic {
  font-style: italic;
}

.text-weight-medium {
  font-weight: 500;
}

.fs-styleguide_1-col {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_1-col.gap-medium {
  grid-row-gap: 2.5rem;
}

.overflow-hidden {
  overflow: hidden;
}

.text-size-tiny {
  font-size: .75rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.icon-small {
  height: 2rem;
}

.background-color-grey {
  background-color: #a8c1d833;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.heading-xsmall {
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.5;
}

.text-weight-light {
  font-weight: 300;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.text-style-link {
  text-decoration: underline;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_section-type {
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #000;
  padding: 1.25rem;
  font-size: 1rem;
  font-weight: 600;
}

.fs-styleguide_2-col {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  justify-content: start;
  display: grid;
}

.fs-styleguide_section {
  grid-column-gap: 4rem;
  grid-row-gap: 2.5rem;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.padding-medium {
  padding: 2rem;
}

.fs-styleguide_background-spacer {
  height: 5rem;
}

.background-color-white {
  background-color: #fff;
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form-radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form-radio-icon.w--redirected-checked {
  border-width: .25rem;
  width: .875rem;
  height: .875rem;
}

.form-radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.text-style-nowrap {
  white-space: nowrap;
}

.padding-xxsmall {
  padding: .25rem;
}

.text-align-left {
  text-align: left;
}

.form-input {
  background-color: #0000;
  min-height: 3rem;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.form-input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.fs-styleguide_classes {
  display: none;
}

.text-size-large {
  font-size: 1.5rem;
}

.icon-1x1-small {
  width: 2rem;
  height: 2rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.heading-large {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.icon-1x1-medium {
  width: 3rem;
  height: 3rem;
}

.form-message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.icon-1x1-large {
  width: 4rem;
  height: 4rem;
}

.icon-medium {
  height: 3rem;
}

.form-wrapper {
  margin-bottom: 0;
}

.padding-tiny {
  padding: .125rem;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.fs-styleguide_page-header {
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.margin-xxhuge {
  margin: 12rem;
}

.fs-styleguide_color-sample {
  background-color: #f5f5f5;
  margin-top: .5rem;
  padding: 5rem;
}

.show-mobile-portrait {
  display: none;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.margin-0 {
  margin: 0;
}

.button-2 {
  text-align: center;
  background-color: #73c1c3;
  border-radius: 2rem;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding: .75rem 1.25rem;
}

.z-1 {
  z-index: 1;
  position: relative;
}

.heading-xlarge {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.text-size-medium {
  font-size: 1.25rem;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.button-text {
  color: #386eec;
  text-align: center;
  background-color: #0000;
  justify-content: center;
  align-items: center;
  padding: .75rem 1.25rem;
  font-weight: 600;
}

.hide {
  display: none;
}

.form-radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

@media screen and (max-width: 991px) {
  .padding-huge {
    padding: 5rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .navlink {
    padding-left: .9rem;
    padding-right: .9rem;
  }

  .gallery-overlay_bg, .gallery-overlay {
    inset: 0%;
  }

  .gallery_caption {
    margin-bottom: 8%;
    margin-left: 8%;
  }

  .amenities_component {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .vision_component {
    grid-template-columns: 1fr auto;
  }

  .button-wrapper {
    margin-left: 0;
  }

  .submit_wrapper {
    flex-direction: column;
  }

  .contact_form {
    width: 100%;
    padding: 2rem;
    overflow: hidden;
  }

  .footer_component {
    justify-content: space-between;
  }

  .footer_text {
    font-size: .8rem;
  }

  .logo-wrapper {
    margin-right: 0;
  }

  .hero_image {
    z-index: 0;
  }

  .hero_circle {
    top: 14%;
    left: 54%;
  }

  .vision_image {
    height: 100%;
    padding-right: 0;
    position: static;
  }

  .contact_schedule-text {
    margin-top: 2rem;
    margin-left: 0;
  }

  .navlink-mobile-cta {
    padding-left: .9rem;
    padding-right: .9rem;
  }

  .footer_copyright {
    font-size: .8rem;
  }

  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .show-tablet {
    display: block;
  }

  .hide-tablet {
    display: none;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 2.5rem;
  }

  .home-slide-button {
    border-radius: 6vw;
    padding: 10px 20px;
    font-size: 24px;
    text-decoration: none;
  }

  .announcement_content {
    margin-left: 25px;
    margin-right: 25px;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .show-mobile-landscape {
    display: block;
  }

  .page-padding {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .navlink {
    display: block;
  }

  .navbar {
    background-color: #0000;
    height: 0;
  }

  .nav_brand {
    padding-left: 0;
  }

  .nav_brand-wrapper {
    display: none;
  }

  .home-hero-header {
    font-size: 22vw;
  }

  .hero-heading_2 {
    margin-top: 5rem;
    position: relative;
  }

  .gallery_caption {
    font-size: 20px;
  }

  .amenities_component {
    grid-template-columns: 1fr 1fr;
  }

  .fee_price-list {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .fee_price-block {
    flex-direction: row;
  }

  .fee_price-block._1 {
    flex-wrap: wrap;
    align-content: space-around;
  }

  .fee_price-block.no-bottom-border {
    flex-flow: row;
    align-content: space-around;
  }

  .fee_rental-block {
    flex-direction: column;
  }

  .fee_rental-block.no-bottom-border {
    flex-flow: column;
    align-content: space-around;
    align-items: center;
  }

  .vision_component, .contact_component {
    grid-template-columns: 1fr;
  }

  .contact_content-block {
    width: 100%;
  }

  .button-wrapper {
    z-index: 2;
    margin-right: 0;
  }

  .contact_form {
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
  }

  .footer_component {
    grid-template-columns: 1fr;
    place-items: center;
    margin-bottom: 20px;
    padding-bottom: 0;
    padding-left: 0;
  }

  .footer_text {
    text-align: center;
  }

  .logo-wrapper {
    margin-left: 4px;
  }

  .hero_image-wrapper {
    margin-top: -7rem;
  }

  .hero_image {
    margin-top: 100px;
    margin-left: 7px;
    margin-right: 0;
  }

  .hero_image-main {
    padding-right: 0;
  }

  .hero_circle {
    top: 0%;
  }

  .nav_menu {
    background-color: var(--snow-pink);
  }

  .class_circle-image {
    margin-left: auto;
    margin-right: auto;
    inset: 30% 0% auto;
  }

  .nav_menu-button {
    z-index: 1001;
  }

  .nav_menu-button.w--open {
    background-color: #0000;
  }

  .nav_hamburger {
    width: 40px;
    height: 40px;
    position: static;
  }

  .team_heading {
    font-size: 22vw;
    display: none;
  }

  .team_heading-2 {
    display: none;
  }

  .team_image-wrapper {
    position: static;
  }

  .team_image-wrapper.show-mobile-landscape {
    display: block;
  }

  .team_image {
    margin-left: 0;
    margin-right: 0;
  }

  .classes_heading-2, .nav-spacer {
    display: none;
  }

  .navlink-mobile-cta {
    font-weight: 500;
    display: block;
  }

  .classes_heading {
    font-size: 22vw;
    display: none;
  }

  .contact_header {
    text-align: center;
  }

  .contact_social-media-wrapper {
    justify-content: center;
    display: flex;
  }

  .footer_copyright {
    text-align: center;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .fs-styleguide_row.is-for-social-icons {
    grid-template-rows: auto auto;
  }

  .heading-medium {
    font-size: 1.5rem;
  }

  .fs-styleguide_version-details {
    font-size: .875rem;
  }

  .heading-small {
    font-size: 1rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr 1fr;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .fs-styleguide_section-type {
    font-size: .875rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .heading-large {
    font-size: 2rem;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .fs-styleguide_page-header {
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .fs-styleguide_color-sample {
    padding: 2.5rem 2rem;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .heading-xlarge {
    font-size: 2.5rem;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 479px) {
  .announcement {
    display: none;
  }

  .announcement_content {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 4vw;
    line-height: 1.4;
  }

  .announcement_title {
    font-size: 6vw;
    line-height: 1.2;
  }

  .announcement_dismiss {
    font-size: 4vw;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-vertical.padding-hero {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .section-hero {
    overflow: hidden;
  }

  .navlink.hide {
    display: none;
  }

  .navbar {
    background-color: #0000;
  }

  .hero-heading_2 {
    margin-top: 22.9rem;
  }

  .gallery_component {
    grid-template-columns: 1fr;
  }

  .gallery_eye-image {
    margin-top: 40px;
    margin-bottom: 100px;
  }

  .amenities_component {
    grid-template-columns: 1fr 1fr;
  }

  .amenities_item {
    width: 100%;
    min-width: 0;
    height: 180px;
    padding-bottom: 20px;
  }

  .class-fee_component {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .fee_price-list {
    margin-left: 20px;
    margin-right: 20px;
  }

  .fee_price-block {
    padding-top: 15px;
  }

  .fee_price-block._1 {
    align-content: space-around;
  }

  .fee_price-text {
    font-size: 14px;
  }

  .fee_rental-wrapper {
    text-align: center;
    padding-top: 40px;
  }

  .fee_rental-list {
    margin-left: 20px;
    margin-right: 20px;
  }

  .fee_rental-block {
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
  }

  .vision_component {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .vision_content-block {
    flex-flow: column;
    align-items: center;
    display: flex;
  }

  .conditions {
    font-size: 14px;
  }

  .contact_component {
    grid-template-columns: 1fr;
  }

  .contact_content-block {
    width: 100%;
  }

  .button-wrapper {
    overflow: hidden;
  }

  .submit_wrapper {
    flex-direction: column;
    justify-content: space-between;
  }

  .contact_form {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footer_component {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    place-items: center;
    margin-bottom: 20px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    display: grid;
  }

  .footer_text {
    text-align: center;
    font-size: .8rem;
  }

  .logo-wrapper._2 {
    margin-bottom: 0;
    margin-right: 0;
  }

  .hero_image-wrapper {
    margin-top: -2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .hero_image {
    width: auto;
    margin-top: 0;
    margin-bottom: -20%;
    margin-left: 0;
  }

  .hero_image-main {
    height: 400px;
  }

  .hero_image-line {
    width: 120%;
    max-width: none;
    margin-top: 0;
    margin-left: -10%;
  }

  .hero_circle {
    width: 200px;
    height: 200px;
    inset: 30% auto 0% 51%;
  }

  .nav_menu {
    flex-wrap: nowrap;
    align-items: flex-end;
    display: flex;
    top: 76px;
  }

  .vision_image {
    width: 100%;
    padding-left: 0;
    padding-right: 1rem;
    display: block;
  }

  .class_circle-image {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    inset: 31% 0% auto;
  }

  .team_text {
    font-size: 1.1rem;
  }

  .team_heading {
    font-size: 17vw;
    display: block;
  }

  .team_heading-2 {
    font-size: 17vw;
    display: block;
    position: absolute;
    inset: 0% 0 auto auto;
  }

  .team_reflection {
    height: 40rem;
  }

  .classes_image {
    height: 400px;
    margin-top: 40px;
    margin-right: -80px;
  }

  .classes_circle-image-wrapper {
    top: -10%;
    right: -8%;
  }

  .classes_circle-image-wrapper.pink {
    bottom: 20%;
  }

  .classes_circle-text {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1rem;
  }

  .classes_heading-2 {
    font-size: 4rem;
    display: block;
  }

  .navlink-mobile-cta {
    font-size: 1rem;
  }

  .classes_heading {
    font-size: 4rem;
    display: block;
  }

  .classes_circle-small-text {
    font-size: .87rem;
  }

  .contact_social-media-link {
    transition: all .2s;
    display: inline-block;
  }

  .footer_copyright {
    text-align: center;
    font-size: .8rem;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .fs-styleguide_2-col {
    grid-template-columns: auto;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .show-mobile-portrait {
    display: block;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

#w-node-_08e6f636-a4b5-1e19-a5c5-85abae20dc02-6fa2ebb9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: center;
}

#w-node-_0c9e2f83-fc6c-f750-f515-4c7d0474c0bc-6fa2ebb9, #w-node-_696bf3be-0dbf-64df-5df5-dcfdf1935786-6fa2ebb9, #w-node-_067a138d-c2fb-bfb8-8ed0-1667d3187674-6fa2ebb9, #w-node-_8d32be54-636c-9d0e-4dca-f65554fda239-6fa2ebb9, #w-node-_45078024-558b-8673-2b42-49df75265a7a-6fa2ebb9, #w-node-_03766db0-9e09-ba64-4e81-727684fee790-6fa2ebb9, #w-node-_882263b3-63f0-f0dd-688f-5b0a2c8a1559-6fa2ebb9, #w-node-e567693e-c542-b350-3b3c-abf7e4afeb3e-6fa2ebb9, #w-node-fe3a5757-b25e-75f5-eab8-f170f801b3cd-6fa2ebb9, #w-node-_94b5a481-379e-557e-e5b9-b7bfb90dfe82-6fa2ebb9, #w-node-eb884d31-d848-a38b-42e2-e4eea5bca4e0-6fa2ebb9, #w-node-c6d36bbe-f162-9003-d553-592df4687edd-6fa2ebb9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_6184fe00-34b7-92f8-4d4e-5c83b984bc83-6fa2ebb9 {
  align-self: center;
}

#w-node-efca46be-afaa-d613-22cb-4920055bc71d-6fa2ebb9 {
  place-self: center;
}

#w-node-_33f13936-a1b6-7c1f-a599-827a8169a3a8-6fa2ebb9 {
  align-self: center;
}

#w-node-e1c4ac75-9e0a-ceb9-d273-693d8d426fe2-6fa2ebb9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_78f250cf-faeb-96cd-1f5e-32102c3e91d1-6fa2ebb9 {
  place-self: center;
}

@media screen and (max-width: 767px) {
  #w-node-_32d924ae-197e-1961-32f6-8e339c85de8b-6fa2ebb9 {
    justify-self: auto;
  }

  #w-node-_32d924ae-197e-1961-32f6-8e339c85de90-6fa2ebb9, #w-node-_1330388f-61ae-eddf-a93f-d5eaa7cc8395-6fa2ebb9 {
    align-self: center;
  }

  #w-node-efca46be-afaa-d613-22cb-4920055bc71d-6fa2ebb9 {
    order: -9999;
    justify-self: center;
  }

  #w-node-_8fa6b033-9892-bdb9-7ee1-0c1de4030d90-6fa2ebb9 {
    justify-self: center;
  }

  #w-node-_78f250cf-faeb-96cd-1f5e-32102c3e91d1-6fa2ebb9 {
    order: -9999;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_8fa6b033-9892-bdb9-7ee1-0c1de4030d90-6fa2ebb9 {
    justify-self: center;
  }
}


